<h1> Create New Meetup </h1>

<div class="forming">
  <form action= "/newmeetup" method="post">
    <p>
      <label for="name">Name</label>
      <input type="text" id="name" name="name"><br />
    </p>
    <p>
      <label for="description">Description</label>
      <input type="text" id="description" name="description"><br />
    </p>
    <p>
      <label for="location">Location</label>
      <input type="text" id="location" name="location"><br />
    </p>
    <p>
      <input class="button" type="submit"><br />
    </p>
  </form>
</div>
