<h1> Create New Meetup </h1>

<div class="forming">
  <form action= "/newmeetup" method="post">
    <p>
      <label for="article">Name</label>
      <input type="text" id="article" name="article"><br />
    </p>
    <p>
      <label for="title">Description</label>
      <input type="text" id="title" name="title"><br />
    </p>
    <p>
      <label for="text">Location</label>
      <input type="text" id="URL" name="URL"><br />
    </p>
    <p>
      <label for="creator">Creator</label>
      <input type="text" id="creator" name="creator"><br />
    </p>
    <p>
      <input class="button" type="submit"><br />
    </p>
  </form>
</div>
