<h1> Event: <%= @data.name %> </h1>

<ul>
  <h3> Creator: <%= @poster %>  </h3>
  <h2> About: <%= @data.description %> </h2>
  <h2>  Where: <%= @data.location %> </h2>
</ul>



<h4> <a href='/meetups'> Back to Homepage! </a> </h4>
